*~
.deps/
.libs/
/build-aux/
/gnulib/
GNUmakefile
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
lib/
libntlm-*-win??.zip*
libntlm-*.tar.gz*
libntlm.la
libntlm.pc
libntlm.spec
libntlm_impl.la
libtool
m4/
maint.mk
ntlm.h
smbencrypt.lo
smbencrypt.o
smbutil.lo
smbutil.o
stamp-h1
test-suite.log
test.out
test_CVE-2019-17455
test_CVE-2019-17455.log
test_CVE-2019-17455.o
test_CVE-2019-17455.trs
test_ntlm
test_ntlm.log
test_ntlm.o
test_ntlm.trs
tests/
