*.lo
*.log
*.o
*.trs
*~
.deps/
.libs/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/ar-lib
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/test-driver
config.h
config.h.in
config.log
config.status
configure
gl/.deps/
gl/.libs/
gl/Makefile
gl/Makefile.in
gl/arg-nonnull.h
gl/c++defs.h
gl/libgnu.la
gl/string.h
gl/sys/
gl/tests/.deps/
gl/tests/Makefile
gl/tests/Makefile.in
gl/tests/arg-nonnull.h
gl/tests/c++defs.h
gl/tests/inttypes.h
gl/tests/libtests.a
gl/tests/test-byteswap
gl/tests/test-des
gl/tests/test-intprops
gl/tests/test-inttypes
gl/tests/test-md4
gl/tests/test-stdalign
gl/tests/test-stdbool
gl/tests/test-stddef
gl/tests/test-stdint
gl/tests/test-string
gl/tests/test-strverscmp
gl/tests/test-sys_types
gl/tests/test-unistd
gl/tests/test-verify
gl/tests/test-wchar
gl/tests/warn-on-use.h
gl/tests/wchar.h
gl/unistd.h
gl/warn-on-use.h
libntlm-*.tar.gz
libntlm-*.tar.gz.sig
libntlm.la
libntlm.pc
libntlm.spec
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
ntlm.h
stamp-h1
test.out
test_ntlm
